{% extends "base.html.twig" %}
{% block body %}
	{{form_start(form)}}
        <div>
        {{form_label(form.title)}}
        {{form_widget(form.title)}}
        {{form_errors(form.title)}}
        </div>
        {{form_row(form.description, {'attr': {'placeholder': 'Ajoutez un contenu à votre article'}})}}
        {# <button type="submit">Envoyer</button> #}
	{{form_end(form)}}
{% endblock %}
